[Unit]
Description=Decred Full Node

[Service]
Type=simple
User=eacrd
Group=eacrd
WorkingDirectory=/var/eacrd
ExecStart=/opt/eacred/bin/eacrd --appdata=/var/eacrd
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
